.formContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
form {
    border: 1px solid white;
    padding: 1vw 1vh;
    border-radius: 0.5em;
    max-width: 50vw;
    background-color: #0000001c;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
}

form > .center {
    align-self: center;
}
input, textarea {
    background-color: #696969;
    color: white;
}

.TextBox{
    align-self: left;
    font-size: 15px;

    border-radius: 5px;
    height: 5px;
    padding: 10px;
}

.DescBox{
    align-self: left;
    font-size: 15px;

    border-radius: 5px;
    width: 300px;
    height: 75px;
    padding: 10px;
}

.metaDataBox {
    padding: 1vh 5vw;
}

.metaDataEl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid white;
    border-radius: 0.5em;
    padding: 1vw 1vh;
    margin-bottom: 1vh;
}

.metaDataEl > input:first-child {
    width: 20%;
}
