{% extends "base.html" %}
{% block Title %}Login -{% endblock %}

{% block content %}
    <a href="{{ homepage_link }}"> Go Back < </a> 
    <h1>Login</h1>
    <form action='#' method='post'>
        <input type="text" placeholder="Enter Username" name="username"><br>
        <input type="password" placeholder="Enter Password" name="password"><br>
        <input type="submit">
        <br>
    </form>
    <h5>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            {% endif %}
        {% endwith %}
    </h5>
{% endblock %}
