{% extends "base.html" %}
{% block Title %}Signup -{% endblock %}

{% block content %}
    <a href="{{ homepage_link }}"> Go Back < </a> 

    <h1>Signup</h1>
    <h5>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            {% endif %}
        {% endwith %}
    </h5>
    <form action='#' method='post'>
        <input type="text" name="username" placeholder="Enter Username" ><br>
        <input type="email" name="email" placeholder="Enter Email" ><br>
        <input type="password" name="password" placeholder="Enter Password"><br>
        <input type="password" name="confirm password" placeholder="Confirm Password"><br>
        <br>
        <input type="submit">
    </form>
{% endblock %}