{% extends "base.html" %}

{% block stylesheet %}
<link rel='stylesheet' type="text/css" href="{{ url_for('static', filename='auth_pages_style.css')}}">
<link rel='stylesheet' type="text/css" href="{{ url_for('static', filename='stlye.css')}}">
{% endblock %}
{% block Title %}Signup -{% endblock %}

{% block navbar_buttons %}
    <li>
        <a href={{login_link}}>
            <input class="button" type="button" value="Login">
        </a>
    </li>
{% endblock %}
{% block content %}
    <div class="inp_box">
        <h1>Signup</h1>
        
        <form class="flex-container" action='#' method='post'>
            <input class="textbox" type="text" name="username" placeholder="Enter Username" >
            <input class="textbox" type="email" name="email" placeholder="Enter Email" >
            <input class="textbox" type="password" name="password" placeholder="Enter Password">
            <input class="textbox" type="password" name="confirm password" placeholder="Confirm Password">
            <h5 id=flash_msg></h5>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </h5>
            <input type="submit" class="button">
        </form>
    </div>
{% endblock %}