{% extends "base.html" %}

{% block stylesheet %}<link rel='stylesheet' type="text/css" href="{{ url_for('static', filename='stlye.css')}}">{% endblock %}
{% block Title %}Cart Page-{% endblock %}

{%block content %}
    <div class=”Cart-Container”></div>
    <div class=”Header”>
        <h3 class=”Heading”>Cart</h3>
        <h5 class=”Action”>Delete all</h5>
        <div class=”Cart-Items”>
            <div class=”image-box”>
            <img src=” ” style='height:”120px”;'/>
            </div>
            <div class=”about”>
            <h1 class=”title”>Item</h1>
            <h3 class=”subtitle”>250ml</h3>
            <img src=” ” style='height:”30px”;'/>
            </div>
            <div class=”counter”></div>
            <div class=”prices”></div>
            </div>
{% endblock %}
