{% extends 'admin_ibase.html' %}

{% block stylesheet %}
<link rel='stylesheet' type="text/css" href="{{ url_for('admin/static', filename='adminstyle.css')}}">
{% endblock%}

{% block Title %} Add New Dress {% endblock %}

{% block content %}
    <h2>ADD NEW DRESS</h2>
    <form class='dressbox' action="#" method="POST" enctype="multipart/form-data">
        <label>Dress Name: </label><br>
        <input type='text' class='TextBox' placeholder="Name" name="dress_name"><br>
        <label>Description: </label><br>
        <textarea class='DescBox' placeholder="Description" maxlength="200" name='description'>
        </textarea><br>
        <label>Image URL: </label><br>
        <input type='file' placeholder="Image" name="img_file"><br>
        <label>Price: </label><br>
        <input type="number" class='TextBox' name="Price" placeholder="Price"><br>
        <label>Stock: </label><br>
        <input type='number' class='TextBox' placeholder="Stock" name="stock"><br>
        <input style='margin-left: 100px' type="submit" class="button">
    </form>

    <h5 id=flash_msg>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            {% endif %}
        {% endwith %}
    </h5>
{% endblock %}