{% extends "base.html" %}

{% block stylesheet %}<link rel='stylesheet' type="text/css" href="{{ url_for('static', filename='stlye.css')}}">{% endblock %}
{% block Title %}Admin Page -{% endblock %}

{% block navbar_buttons %}
    <li>
        <a href={{profile_link}}>
            <input class="button" type="button" value="Profile">
        </a>
    </li>
{% endblock %}

{% block content %}
    <iframe src={{addnewdress_link}} title="Iframe test" height=1500px width=1200px>
    </iframe>
{% endblock %}