{% extends "base.html" %}

{% block stylesheet %}<link rel='stylesheet' type="text/css" href="{{ url_for('static', filename='stlye.css')}}">{% endblock %}
{% block Title %}Admin Page -{% endblock %}

{% block navbar_buttons %}
    <li>
        <a href={{profile_link}}>
            <input class="button" type="button" value="Profile">
        </a>
    </li>
{% endblock %}

{% block content %}
    <h2>Enter the Values to Search</h2>
    <form>
        <label>Dress Name</label>
        <input type='text'><br>
        <label>Description</label>
        <input type='text'><br>
        <label>Price</label>
        <input type="number"><br>
    </form>

    <iframe src={{addnewdress_link}} title="Iframe test" height=1500px width=1200px>
    </iframe>
{% endblock %}