<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description", content="iFrames of admin pages">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel='stylesheet' type="text/css" href="{{ url_for('static', filename='stlye.css')}}">
        {% block stylesheet %} {% endblock %}
        <title>{% block Title %}{% endblock %}</title>
    </head>
    <body>
        <ul class=navbar>
            <li class=logo-container>    
                <a href="{{ add_dress_link }}"> 
                    <input class="button" type="button" value="Add Dress">
                </a>
            </li>
            <li class=logo-container>
                <a href="{{ view_dress_link }}">
                    <input class="button" type="button" value="View Dresses">
                </a>
            </li>
            <li class=logo-container>
                <a href="{{ view_user_link }}">
                    <input class="button" type="button" value="View Users">
                </a>
            </li>
        </ul>
        {% block content %}
        {% endblock %}
    </body>
</html>