{% extends "admin_ibase.html" %}

{% block Title %}View all dress{% endblock %}

{% block content %}
    <table>
        <tr>
            <th>ID</th>
            <th>Dress Name</th>
            <th>Description</th>
            <!--<th>Image Url</th>-->
            <th>Price</th>
            <th>Stock</th>
            <th>Delete Dress</th>
        </tr>
        {% for dress in dresses %}
        <tr>
            <td> {{dress[0]}}</td>
            <td> {{dress[1]}}</td>
            <td> {{dress[2]}}</td>
            <!--<td> {{dress[3]}}</td>-->
            <td> {{dress[4]}}</td>
            <td> {{dress[5]}}</td>
            <td>
                <a href="/admin/deletedress/{{dress[0]}}">
                <input type="button" class = "button" value='Delete Dress'></a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}