{% extends "admin_ibase.html" %}

{% block Title %}View all dress{% endblock %}

{% block content %}
    <table>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>email</th>
            <th>Account Type</th>
        </tr>
        {% for user in users %}
        <tr>
            <td> {{user[0]}}</td>
            <td> {{user[1]}}</td>
            <td> {{user[2]}}</td>
            <td> {{user[4]}}</td>
            <td> <a href= {{delete_user_link}}/{{user[0]}}>
                <input type="button" class="button" value="Delete User">
                </a>
            </td>
            <td>
                <a href= {{change_user_link}}/{{user[0]}}/{{user[4]}}>
                <input type="button" class="button" value="Make Admin/User">
            </a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}