body {
    background-color:#454341; 
    text-align: center;
}

h1{
    color:whitesmoke;
}

h5 {
    color: red;
}

a:link {
    color: cyan;
}

a:visited{
    color: pink;
}

p{
    color: white;
}