body {
    background-color:black; 
    color: white;
    text-align: center;
    font-family:sans-serif;
    margin: 0;
}

h5 {
    color: tomato;
    font-size: 15px;
}

a:link {
    color: lightblue;
}

a:visited{
    color: lightblue;
}

input{
    margin: 5px;
    transition: 100ms;
}
ul{
    background-color:#292727;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li{
    float: left;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.button{
    background-color: inherit;
    color: whitesmoke;
    border: 2px solid whitesmoke;
    padding: 5px 16px;
    font-size: 14px;
    border-radius: 10px;
}

.button:hover{
    background-color: whitesmoke;
    color: black;
}

#searchbox{
    padding: 5px 16px;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 14px;
}