<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description", content="A csc project made by Eshwar, Sundar and Shankar">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        {% block stylesheet %} {% endblock %}
        <title>{% block Title %}{% endblock %} SSE Boutique</title>
    </head>
    <body>
        <ul class=navbar>
            <li>    
                <a href="{{ homepage_link }}"> 
                    <img style="margin-top: 10px;" src="static/images/home_icon.png" alt = 'Go Back <' width= 25> 
                </a>
            </li>
            <li>
                <form action='#' method='POST'>
                    <input id="searchbox" type="text" placeholder="Search..." name="Search">
                </form>
            </li>
            {% block navbar_buttons %}
            {% endblock %}
        </ul>
        {% block content %}
        {% endblock %}
    </body>
</html>