<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description", content="A csc project made by Eshwar, Sundar and Shankar">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        {% block stylesheet %} {% endblock %}
        <title>{% block Title %}{% endblock %} SSE Boutique</title>
    </head>
    <body>
        {% block content %}
        <div class='navbar'>
            <a href="{{ homepage_link }}"> 
                <img src="static/images/home_icon.png" alt = 'Go Back <' width= 50> 
            </a>
            <a href="">
                <img src="" alt="Admin Page">
            </a>
            <form action='#' method='POST'>
                <input type="text" placeholder="Search..." name="Search">
            </form>
            <a href="">
                <img src="" alt="Profile Page">
            </a>
            
    </div>
        {% endblock %}
    </body>
</html>