{% extends "base.html" %}

{% block stylesheet %}<link rel='stylesheet' type="text/css" href="{{ url_for('static', filename='stlye.css')}}">{% endblock %}
{% block Title %}Homepage -{% endblock %}

{% block content %}
<h1>SSE Boutique</h1>
<p>Welcome customer!</p>

<h5>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
    {% endwith %}
</h5>

{% if not is_loggedin %}
    <a href={{signup_link}}>
        <input type="button" value="Signup">
    </a><br>
    <br>
    <a href={{login_link}}>
        <input type="button" value="Login">
    </a>
{% else %}
    <a href={{profile_link}}>
        <input type="button" value="Profile">
    </a><br>
    <br>
    <a href={{logout_link}}>
        <input type="button" value="Logout">
    </a>
{% endif %}
{% endblock %}