{% extends "base.html" %}

{% block stylesheet %}<link rel='stylesheet' type="text/css" href="{{ url_for('static', filename='stlye.css')}}">{% endblock %}
{% block Title %}Homepage -{% endblock %}

{% block navbar_buttons %}
{% if not is_loggedin %}
    <li>
        <a href={{signup_link}}>
            <input class="button" type="button" value="Signup">
        </a>
    </li>
    <li>
        <a href={{login_link}}>
            <input class="button" type="button" value="Login">
        </a>
    </li>
{% else %}
    <li>
        <a href={{profile_link}}>
            <input class="button" type="button" value="Profile">
        </a>
    </li>
    <li>
        <a href={{admin_link}}>
            <input class="button" type="button" value="Admin Page">
        </a>
    </li>
    <li>
        <a href={{logout_link}}>
            <input class="button" type="button" value="Logout">
        </a>
    </li>
{% endif %}
{% endblock %}

{% block content %}

<h1>SSE Boutique</h1>
<p>Welcome customer!</p>

<h5 id=flash_msg>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
    {% endwith %}
</h5>
{% endblock %}