{% extends "base.html" %}

{% block Title %}Profile -{% endblock %}
{% block stylesheet %}<link rel='stylesheet' type="text/css" href="{{ url_for('static', filename='stlye.css')}}">{% endblock %}

{% block navbar_buttons %}
    {% if isadmin %}
    <li class=navbar-container>
        <a href={{admin_link}}>
            <input class="button" type="button" value="Admin Page">
        </a>
    </li>
    {% endif %}
    <li class=navbar-container>
        <a href={{logout_link}}>
            <input class="button" type="button" value="Logout">
        </a>
    </li>
{% endblock %}

{% block content %}
<h1>Hello {{user}}</h1>

<div id=flash_msg>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>
{% endblock %}
