{% extends "base.html" %}

{% block Title %}Profile -{% endblock %}
{% block stylesheet %}<link rel='stylesheet' type="text/css" href="{{ url_for('static', filename='stlye.css')}}">{% endblock %}

{% block content %}
<div class='navbar'>
    <a href="{{ homepage_link }}"> 
        <img src="static/images/home_icon.png" alt = 'Go Back <' width= 50> 
    </a>
</div>

<h1>Hello {{user}}</h1>

<h5>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
    {% endwith %}
</h5>
{% endblock %}